$darkGrey: #121212;
// $darkGrey: #181B1A;
$orange:#E9401E;
// $orange: #8DAD93;
$lightBrown:#B4A890;
// $lightBrown: #FFF6E6;
$white: #fff;
$black: #030303; 
$whiteShade: #f6f6f6;
// $primaryFont:'Abril Fatface', cursive;
// $secondaryFont:'Montserrat', sans-serif; 