// ANIMATIONS

@keyframes navUnderline {
    0%{
        width: 0%;
        
    }
    100% {
        width: 100%;
        border-bottom: 0.2rem solid $purple;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
     }
}


                // .underline {
                // // border: 0.1rem solid transparent;
                // }
                
                // &:hover ~ .underline,
                // .linkActive ~ .underline {
                //     // animation: navUnderline 0.3s linear forwards;
                // } 

// TRANSITIONS

.mainNav ul li a,
.mainNav h2,
.aboutSocial ul li a,
.contactContainer .contactSocial ul li a,
.contactContainer .contactSocial h5 a {
                                        
    transition: color 0.3s;

    &:hover,
    &:focus {
        color:$grey
    }
}

.arrowAndScrambleContainer .headerArrow {
    transition: transform 0.3s;
    
    &:hover,
    &:focus {
        transform: translateY(1.75rem);
    }
}

.contact img {
    transition: transform 0.3s;
    
    &:hover,
    &:focus {
        transform: rotate(180deg) translateY(1.75rem);
    }
}

@keyframes point {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(-1.5rem); }
    100% { transform: translateX(0); }
}







.aboutText,
.projectsContainer > li {

    a::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $purple;
        // visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    a {
        position: relative;

        &:hover::after,
        &:focus::after {
            // visibility: visible;
            width: 100%;
        }
    }
}

.projectsContainer li .projectsLinks {

    a::after {
        // content: "";
        // position: absolute;
        // width: 0;
        // height: 2px;
        // bottom: 0;
        // left: 1rem;
        // background-color: $purple;
        // // visibility: hidden;
        // transition: all 0.3s ease-in-out;
        display: none;
    }

    a {

        &:hover::before,
        &:focus::before {
            animation-name: point;
            animation-timing-function: ease;

        }
    }
}
