@import "./partials/setup";
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/topography";
@import "../sass/partials/indexStyles";
@import "./partials/mediaQueries";

// cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Gentium+Book+Basic:wght@700&family=Ibarra+Real+Nova:wght@500&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@font-face {
    font-family: monumentExtended; 
    src: 
    format('opentype')
    url(/../MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf);
}
// font-family: 'Dela Gothic One', cursive;

    // font-family: 'Ibarra Real Nova', serif;

    // font-family: 'Nanum Pen Script', cursive;

    // font-family: 'Gentium Book Basic', serif;

body {
    font-size: calc(1rem + 0.75vw);
    background-color: $white;

    // font-family: 'Rubik';
    // scroll-snap-type: y proximity;
    font-family: 'DM Sans', sans-serif;
    // font-family: monumentExtended, sans-serif;
    // font-family: 'Gentium Book Basic', serif;
}

p {
    color: $primaryBlue;
    line-height: calc(2rem + 0.75vw);
    font-size: calc(1.5rem + 0.5vw);
    font-weight: 100;
}

// line-height ration is 1.4:1


.projects {
    // scroll-snap-align: start;
    min-height: 100vh;
    // background-color: coral;
    padding: 50px;
}

.contact {
    // scroll-snap-align: start;
    height:100vh;
}

.wrapper {
    margin: 0 auto;
    max-width: 1680px;
    width: 90%;    
} 

// HEADER

header {
    // height: 101vh;
    border-bottom: 0.2rem solid $primaryBlue;
}

h1 {
    font-size: calc(1.5rem + 8vw);
    font-weight: lighter;
    color: $primaryBlue;
    position: relative;
    right: 0.25%;
    margin: 0;
    text-transform: uppercase;
    line-height: 90%;
    font-family: 'Dela Gothic One', cursive;
    padding: 37vh 1.5rem 1.5rem 0;
    opacity: 1;
    // animation: fadeInH1 ease-in 1s 1s 1 forwards; 
    }

// NAV

.navContainer {
    position: fixed;
    z-index: 2;
    background-color: $white;
    transition: all 0.3s;

    .navUnderline {
        border-bottom: 0.2rem solid $primaryBlue;
        // animation: navUnderline 0.3s 0.5s linear forwards;
    }
}

.mainNav {
    display: flex;
    opacity: 1;
    justify-content: space-between;
    align-items: center;
    // animation: slideDown ease 1s 1s 1 forwards;

    h2 {
        font-size: calc(2rem + 1vw);
        font-weight: normal;
        color: $primaryBlue;
        margin: 0; 
        padding: 1vw 0;
        font-family: 'Gentium Book Basic', serif;
    }
    
    ul {

        li {
            padding: 2rem;
            display: inline-block;
            
            a {
                text-transform: uppercase;
                color: $primaryBlue;
                font-size: calc(1rem + 0.75vw);
                border: 0.1rem solid transparent;
                
                .underline {
                // border: 0.1rem solid transparent;
                }  
                
                &:hover ~ .underline,
                .linkActive ~ .underline {
                    // animation: navUnderline 0.3s linear forwards;
                } 
            }
        }

        li:last-of-type {
            padding-right: 0;
        }
    }
}

.arrowAndScrambleContainer {

    display: flex;
    // justify-content: space-between;
    margin: 10% 0 5% 0;
    align-items: center;
    
    h3 {
        // opacity: 0;
        font-size: calc(1.5rem + 1.5vw);
        font-weight: 100;
        color: $primaryBlue;
        margin: 0;
        // animation: slideInH3 ease 1s 1s 1 forwards;
        padding-left: 40%;
    }

    .arrow {
        width: calc(2rem + 2.5vw);
        border: 0.2rem solid transparent;

        &:hover {
            border-radius: 50%;
            border: 0.2rem solid $primaryBlue;
        }
    }
    
}

.circle {
    position: absolute;
    right: 10%;
    width: 80%;
    top: 20%;
    z-index: -1;
}

// ABOUT

.about {
    min-height: 100vh;
    scroll-snap-align: start;
}

.aboutContainer {
    padding-top: 5vw;
    display: flex;
    justify-content: space-evenly;

    .aboutText {
        width: 55%;
        padding: 0 5%;

        p:first-of-type {
            margin-top: 0;
        }

        p {
            padding: 0 10%;
        }
    }

    img {
        width: 35%;
        align-self: flex-start;
    }
}

.aboutSocial {
    width: 10%;

    h4 {
        font-size: calc(2rem + 1vw);
        color: $primaryBlue;
        margin: 0;
        font-weight: 100;
        text-transform: uppercase;
        line-height: 90%;
        font-family: 'Dela Gothic One', cursive;
    }

    ul {   
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80%;
        
        > li{

            padding: 15% 0;

           > * {
       font-size: calc(2rem + 1vw);
       color: $primaryBlue;
    }
  
        }
    }
    
}

.skillsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    

    h3 {
        color: $primaryBlue;
        font-size: calc(2rem + 1vw);
        font-weight: 100;
    }

    ul {
        display: flex;
        color: $primaryBlue;
    }
}








// ANIMATIONS

// HEADER

@keyframes navUnderline {
    0%{
        width: 0%;


    }
    100% {
        width: 100%;
        border: 0.1rem solid $primaryBlue;

    }
}


// @keyframes headerVerticalLine {

//  0% {
//     height: 0%;
//   }

//  100% {
//     border-right: 0.1rem solid $lightBrown;
//     height: 100%;
//   }
// }

@keyframes navUnderline {

 0% {
    width:0%;
  }

 100% {
    border-bottom: 0.2rem solid $primaryBlue;
    width:100%;
  }
} 

@keyframes fadeInH1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
     }
}


@keyframes slideDown {
    0% {
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInH2 {
    0% {
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInH3 {
    0% {
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


