@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Gentium+Book+Basic:wght@700&family=Ibarra+Real+Nova:wght@500&family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,500;1,700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: monumentExtended;
  src: format("opentype") url(/../MonumentExtended-FreeForPersonalUse/MonumentExtended-Regular.otf);
}

body {
  font-size: calc(1rem + 0.75vw);
  background-color: #C4D5D9;
  font-family: 'DM Sans', sans-serif;
}

h4 {
  font-size: calc(2rem + 1vw);
  color: #4933BC;
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 90%;
  font-family: 'Dela Gothic One', cursive;
}

p {
  color: #4933BC;
  line-height: 140%;
  font-size: calc(1rem + 0.75vw);
  font-weight: 400;
  margin: 4% 0;
}

a {
  color: #4933BC;
  font-weight: bolder;
}

.contact {
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1680px;
  width: 90%;
}

header {
  border-bottom: 0.2rem solid #4933BC;
}

h1 {
  font-size: calc(1.5rem + 8vw);
  font-weight: lighter;
  color: #4933BC;
  position: relative;
  right: 0.25%;
  margin: 0;
  text-transform: uppercase;
  line-height: 90%;
  font-family: 'Dela Gothic One', cursive;
  padding: 37vh 1.5rem 1.5rem 0;
  opacity: 1;
}

.navContainer {
  position: fixed;
  z-index: 2;
  background-color: #C4D5D9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navContainer .navUnderline {
  border-bottom: 0.2rem solid #4933BC;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainNav h2 {
  font-size: calc(2rem + 1vw);
  font-weight: normal;
  color: #4933BC;
  margin: 0;
  padding: 1vw 0;
  font-family: 'Gentium Book Basic', serif;
}

.mainNav ul li {
  padding: 2rem;
  display: inline-block;
}

.mainNav ul li a {
  text-transform: uppercase;
  color: #4933BC;
  font-size: calc(1rem + 0.75vw);
  border: 0.1rem solid transparent;
  font-weight: normal;
}

.mainNav ul li:last-of-type {
  padding-right: 0;
}

.arrowAndScrambleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8.5vw 0 6vw 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrowAndScrambleContainer h3 {
  font-size: calc(1.5rem + 1.5vw);
  font-weight: 100;
  color: #4933BC;
  margin: 0;
  padding-left: 40%;
}

.arrowAndScrambleContainer .headerArrow {
  width: calc(2rem + 2.5vw);
  border: 0.2rem solid transparent;
}

.arrowAndScrambleContainer .headerArrow:hover {
  border-radius: 50%;
  border: 0.2rem solid #4933BC;
}

.circle {
  position: absolute;
  right: 10%;
  width: 80%;
  top: 22.5%;
  z-index: -1;
}

.about {
  padding: 6vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-bottom: 0.2rem solid #4933BC;
}

.about .aboutText {
  width: 50%;
  padding: 0 2.5% 0 7.5%;
}

.about .aboutText p:first-of-type {
  margin-top: 0;
}

.about .aboutText p {
  padding: 0 2.5%;
}

.aboutSocial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80%;
}

.aboutSocial ul > li {
  padding: 15% 0;
}

.aboutSocial ul > li > * {
  font-size: calc(2rem + 1vw);
  color: #4933BC;
}

.imageAndSkillsContainer {
  width: 35%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.imageAndSkillsContainer img {
  width: 80%;
}

.imageAndSkillsContainer .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding-top: 2.5%;
}

.imageAndSkillsContainer .skillsContainer h5 {
  color: #4933BC;
  font-size: calc(1.5rem + 1vw);
  font-weight: 400;
  margin: 0;
  padding: 4% 0;
}

.imageAndSkillsContainer .skillsContainer h5::before {
  content: '';
  background-image: url(/assets/aboutArrow.svg);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100%;
  width: calc(1rem + 0.75vw);
  height: calc(1rem + 0.75vw);
  margin-right: 1rem;
}

.imageAndSkillsContainer .skillsContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4933BC;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imageAndSkillsContainer .skillsContainer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem 0;
  font-size: calc(1rem + 0.5vw);
  width: 25%;
}

.imageAndSkillsContainer .skillsContainer ul li i {
  font-size: calc(1.5rem + 1.5vw);
}

.projects {
  padding: 6vw 0;
}

.projectsDescription p {
  font-size: calc(1rem + 0.5vw);
}

.projectsDescription p:first-of-type {
  margin: 2% 0 0 0;
}

.projectsDescription p:last-of-type {
  margin: 0;
}

.projectsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.projectsContainer > li p {
  margin: 4% 0;
}

.projectsContainer > li video {
  width: 100%;
  opacity: 0.8;
  border: 0.2rem solid transparent;
}

.projectsContainer > li video:hover, .projectsContainer > li video:focus {
  opacity: 1.1;
  border: 0.2rem solid #4933BC;
}

.projectsContainer > li h5 {
  font-size: calc(2rem + 2vw);
  margin: 0;
  color: #4933BC;
  font-weight: bolder;
  position: relative;
}

.projectsContainer > li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4933BC;
}

.projectsContainer > li ul li {
  margin: 0 1.5rem;
  padding: 0.75rem;
  background-color: #879EA4;
  color: #C4D5D9;
}

.projectsContainer > li ul li:first-of-type {
  margin-left: 0;
}

.projectsContainer > li:nth-of-type(odd) {
  margin: 5% 5% 5% 0;
  text-align: right;
}

.projectsContainer > li:nth-of-type(even) {
  margin: 5% 0 5% 5%;
  text-align: left;
}

.projectsContainer > li:nth-of-type(4n + 3) ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectsContainer > li:nth-of-type(4n + 3) ul li:last-of-type {
  margin-right: 0;
}

.projectsContainer > li:nth-of-type(4n + 3) .projectsLinks a:last-of-type {
  padding-right: 0;
}

.projectsContainer .projectsLinks {
  margin-top: 4%;
}

.projectsContainer .projectsLinks a {
  padding: 1rem;
}

.projectsContainer .projectsLinks a:first-of-type {
  padding-left: 0;
}

.projectsContainer .projectsLinks:nth-of-type(2n) {
  margin: 20%;
}

@-webkit-keyframes navUnderline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    border: 0.1rem solid #4933BC;
  }
}

@keyframes navUnderline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    border: 0.1rem solid #4933BC;
  }
}

@keyframes navUnderline {
  0% {
    width: 0%;
  }
  100% {
    border-bottom: 0.2rem solid #4933BC;
    width: 100%;
  }
}

@-webkit-keyframes fadeInH1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInH1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInH2 {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInH2 {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInH3 {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInH3 {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
