html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

body {
  font-size: calc(1rem + 0.75vw);
  background-color: #C4D5D9;
  font-family: 'DM Sans', sans-serif;
  font-family: "DM Sans", sans-serif;
  line-height: 140%;
  color: #4933BC;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1, h4 {
  font-weight: lighter;
}

h4 {
  font-size: calc(2rem + 1vw);
  text-transform: uppercase;
  line-height: 90%;
  font-family: "Dela Gothic One", cursive;
}

p {
  font-size: calc(1rem + 0.75vw);
  margin: 4% 0;
}

a {
  color: #4933BC;
  font-weight: bolder;
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1680px;
  width: 80%;
}

.about,
.projects,
.contact {
  padding: 6vw 0;
  border-bottom: 0.2rem solid #4933BC;
}

.skillsContainer h5::before,
form button::before,
.projectsLinks a:first-of-type::before {
  content: '';
  background-image: url(/assets/aboutArrow.svg);
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 100%;
  width: calc(1rem + 0.8vw);
  height: calc(1rem + 0.8vw);
  margin-right: 1rem;
}

header {
  border-bottom: 0.2rem solid #4933BC;
  position: relative;
}

.is-visible {
  top: 0;
}

.is-hidden {
  top: -20rem;
}

.navContainer {
  position: fixed;
  z-index: 2;
  background-color: #C4D5D9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navContainer .navUnderline {
  border-bottom: 0.2rem solid transparent;
  -webkit-animation: navUnderline 0.4s linear forwards;
          animation: navUnderline 0.4s linear forwards;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-animation: slideDown ease 0.4s 0.3s 1 forwards;
          animation: slideDown ease 0.4s 0.3s 1 forwards;
  opacity: 0;
}

.mainNav .showNav {
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.mainNav .hamburger {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 2vw;
  font-size: 3rem;
  background-color: inherit;
  border: none;
  color: #4933BC;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  z-index: 5;
}

.mainNav .hamburger .inactive {
  display: none;
}

.mainNav h2 {
  font-size: calc(2rem + 1vw);
  padding: 1vw 0;
  font-family: "Gentium Book Basic", serif;
}

.mainNav h2 span:last-of-type {
  display: none;
}

.mainNav ul li {
  padding: 2rem;
  display: inline-block;
  border: 0.2rem solid transparent;
}

.mainNav ul li a {
  text-transform: uppercase;
  font-size: calc(1rem + 0.75vw);
  border: 0.1rem solid transparent;
  font-weight: normal;
}

.mainNav ul li:last-of-type {
  padding-right: 0;
}

h1 {
  font-size: calc(1rem + 8.25vw);
  position: relative;
  right: 0.25%;
  text-transform: uppercase;
  line-height: 90%;
  font-family: "Dela Gothic One", cursive;
  padding: 37vh 1.5rem 1.5rem 0;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 0.5s 0.3s 1 forwards;
          animation: fadeIn ease-in 0.5s 0.3s 1 forwards;
}

.arrowAndScrambleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: x;
      -ms-flex-pack: x;
          justify-content: x;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 7.5vw 0 6vw 0;
  opacity: 0;
  -webkit-animation: slideUp ease 0.4s 0.3s 1 forwards;
          animation: slideUp ease 0.4s 0.3s 1 forwards;
}

.arrowAndScrambleContainer h3 {
  font-size: calc(1.5rem + 1.5vw);
  font-weight: normal;
  padding-left: 40%;
}

.arrowAndScrambleContainer .headerArrow {
  -webkit-transform-origin: up;
          transform-origin: up;
  width: calc(2rem + 2.5vw);
  border: 0.2rem solid transparent;
}

.arrowAndScrambleContainer .headerArrow:hover, .arrowAndScrambleContainer .headerArrow:focus {
  -webkit-animation: bounceDown 1s ease infinite;
          animation: bounceDown 1s ease infinite;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.circle {
  position: absolute;
  right: 7.5%;
  width: 85%;
  top: 35%;
  z-index: -1;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: x;
      -ms-flex-align: x;
          align-items: x;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 5vw;
}

.about .aboutText {
  width: 50%;
  padding: 0 2.5% 0 5.5%;
}

.about .aboutText p:first-of-type {
  margin-top: 0;
}

.about .aboutText p {
  padding: 0 2.5%;
}

.aboutSocial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: x;
      -ms-flex-pack: x;
          justify-content: x;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80%;
}

.aboutSocial ul > li {
  padding: 15% 0;
}

.aboutSocial ul > li > * {
  font-size: calc(2rem + 1vw);
}

.imageAndSkillsContainer {
  width: 40%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: x;
      -ms-flex-pack: x;
          justify-content: x;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imageAndSkillsContainer img {
  width: 80%;
}

.imageAndSkillsContainer .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: x;
      -ms-flex-pack: x;
          justify-content: x;
  -webkit-box-align: x;
      -ms-flex-align: x;
          align-items: x;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding-top: 2.5%;
}

.imageAndSkillsContainer .skillsContainer h5 {
  font-size: calc(1.5rem + 1vw);
  font-weight: 400;
  margin: 0;
  padding: 4% 0;
}

.imageAndSkillsContainer .skillsContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: x;
      -ms-flex-align: x;
          align-items: x;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.imageAndSkillsContainer .skillsContainer ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: x;
      -ms-flex-pack: x;
          justify-content: x;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5rem 0;
  font-size: calc(1rem + 0.5vw);
  width: 25%;
}

.imageAndSkillsContainer .skillsContainer ul li i {
  font-size: calc(1.5rem + 1.5vw);
}

.projects {
  padding-bottom: 4vw;
}

.projectsDescription p {
  font-size: calc(1rem + 0.5vw);
}

.projectsDescription p:first-of-type {
  margin: 1.75% 0 0 0;
}

.projectsDescription p:last-of-type {
  margin: 0;
}

.projectsContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.projectsContainer > li {
  margin: 7% 5% 5%;
}

.projectsContainer > li p {
  margin: 4% 0;
}

.projectsContainer > li img {
  display: none;
}

.projectsContainer > li video {
  width: 100%;
  opacity: 0.8;
  border: 0.2rem solid transparent;
}

.projectsContainer > li video:hover, .projectsContainer > li video:focus {
  opacity: 1.1;
  border: 0.2rem solid #4933BC;
}

.projectsContainer > li h5 {
  font-size: calc(2rem + 1vw);
  margin: 0;
  font-weight: bold;
  position: relative;
}

.projectsContainer > li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectsContainer > li ul li {
  margin: 0 1.5rem;
  padding: 0.75rem;
  background-color: #879EA4;
  color: #C4D5D9;
}

.projectsContainer > li ul li:first-of-type {
  margin-left: 0;
}

.projectsContainer > li:first-of-type,
.projectsContainer > li:nth-of-type(2) {
  margin-top: 10%;
}

.projectsContainer > li:nth-of-type(odd) {
  margin-left: 0;
  text-align: right;
}

.projectsContainer > li:nth-of-type(even) {
  margin-right: 0;
  text-align: left;
}

.projectsContainer > li:nth-of-type(4n + 3) ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projectsContainer > li:nth-of-type(4n + 3) ul li:last-of-type {
  margin-right: 0;
}

.projectsContainer > li:nth-of-type(4n + 3) .projectsLinks a:last-of-type {
  padding-right: 0;
}

.projectsContainer .projectsLinks {
  margin-top: 4%;
}

.projectsContainer .projectsLinks a {
  padding: 1rem 1rem 0.25rem;
  font-size: calc(1rem + 1vw);
}

.projectsContainer .projectsLinks a:first-of-type {
  padding-left: 0;
}

.projectsContainer .projectsLinks a:first-of-type::before {
  position: relative;
  top: 0.25rem;
}

.projectsContainer .projectsLinks:nth-of-type(2n) {
  margin: 20%;
}

.contact {
  border: none;
  position: relative;
}

.contact img {
  width: calc(2rem + 2.5vw);
  position: absolute;
  bottom: 5%;
  right: 0;
}

.contact img:hover, .contact img:focus {
  -webkit-animation: bounceUp 1s ease infinite;
          animation: bounceUp 1s ease infinite;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.contactContainer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: x;
      -ms-flex-align: x;
          align-items: x;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactContainer .contactSocial {
  text-align: right;
}

.contactContainer .contactSocial h5 {
  padding: 15% 0;
  font-size: calc(1rem + 2vw);
  text-decoration: underline;
  -webkit-text-decoration-color: #4933BC;
          text-decoration-color: #4933BC;
}

.contactContainer .contactSocial p {
  margin: 0;
}

.contactContainer .contactSocial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: x;
      -ms-flex-align: x;
          align-items: x;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactContainer .contactSocial ul li {
  font-size: calc(2rem + 1vw);
  padding-left: 5%;
}

.contactForm {
  width: 50%;
}

.contactForm .nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: x;
      -ms-flex-align: x;
          align-items: x;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contactForm .nameEmail input[type=text],
.contactForm .nameEmail input[type=email] {
  width: 49%;
  padding: 1rem 2rem;
  background-color: inherit;
  border: 0.2rem solid #4933BC;
}

.contactForm .message {
  margin: 2% 0 0 0;
}

.contactForm .message textarea {
  resize: none;
  width: 100%;
  padding: 1rem 2rem;
  background-color: inherit;
  border: 0.2rem solid #4933BC;
}

.contactForm button {
  margin-top: 2%;
  color: #4933BC;
  font-weight: 700;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.contactForm button::before {
  position: relative;
  top: 0.25vw;
}

footer {
  position: relative;
}

footer .circleContact {
  position: absolute;
  right: 22%;
  z-index: -1;
  width: 55%;
  height: auto;
  bottom: 0%;
}

footer p {
  font-size: calc(1.25rem + 0.5vw);
  padding: 1rem;
  margin: 0;
  border-top: 0.2rem solid #4933BC;
}

@media (max-width: 1120px) {
  .wrapper {
    width: 90%;
  }
  .imageAndSkillsContainer .skillsContainer {
    padding-top: 5%;
  }
  .imageAndSkillsContainer .skillsContainer ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .imageAndSkillsContainer .skillsContainer ul li {
    width: calc(100% / 3);
  }
  .projectsContainer > li:nth-of-type(odd) {
    margin: 7.5% 5% 7.5% 0;
  }
  .projectsContainer > li:nth-of-type(even) {
    margin: 7.5% 0 7.5% 5%;
  }
}

@media (max-width: 800px) {
  header {
    min-height: 101vh;
  }
  h1 {
    font-size: calc(1rem + 10vw);
  }
  .circle {
    top: 62.5%;
    right: 5%;
    width: 90%;
  }
  .mainNav h2 span:first-of-type {
    display: none;
  }
  .mainNav h2 span:last-of-type {
    display: unset;
  }
  .arrowAndScrambleContainer {
    -webkit-animation: fadeIn ease 0.4s 0.3s 1 forwards;
            animation: fadeIn ease 0.4s 0.3s 1 forwards;
  }
  .arrowAndScrambleContainer h3, .arrowAndScrambleContainer .headerArrow {
    position: absolute;
    bottom: 8%;
  }
  .arrowAndScrambleContainer h3 {
    bottom: 10%;
    right: 45%;
    padding: 0;
  }
  .imageAndSkillsContainer .skillsContainer {
    padding-top: 10%;
  }
  .imageAndSkillsContainer .skillsContainer ul {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .imageAndSkillsContainer .skillsContainer ul li {
    width: 50%;
  }
  .projectsDescription p:last-of-type {
    display: none;
  }
  .projectsContainer {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .projectsContainer > li video {
    display: none;
  }
  .projectsContainer > li .projectsLinks {
    margin-top: 3%;
  }
  .projectsContainer > li .projectsLinks a {
    font-size: calc(1rem + 1.25vw);
  }
  .projectsContainer > li p {
    margin: 3% 0;
  }
  .projectsContainer > li img {
    display: unset;
    padding-top: 6%;
  }
  .projectsContainer > li ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .projectsContainer > li ul li {
    margin: 0 1.5rem;
    padding: 0.75rem;
    background-color: #879EA4;
    color: #C4D5D9;
  }
  .projectsContainer > li ul li:first-of-type {
    margin-left: 0;
  }
  .projectsContainer > li:nth-of-type(odd) {
    margin: 3% 0 0 0;
    text-align: left;
  }
  .projectsContainer > li:nth-of-type(even) {
    margin: 3% 0 0 0;
  }
  .projectsContainer > li:nth-of-type(1) img {
    padding-top: 3.5%;
  }
  .projectsContainer > li:nth-of-type(4) {
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .projectsContainer > li:nth-of-type(8) {
    -ms-grid-row: 7;
        grid-row-start: 7;
  }
  .projectsContainer > li:nth-of-type(4n + 3) ul {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .contactForm {
    display: none;
  }
  .contactContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20%;
  }
  .contactContainer .contactSocial {
    text-align: center;
  }
  .contactContainer .contactSocial h5 {
    padding: 10% 0;
  }
  .contactContainer .contactSocial ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactContainer .contactSocial ul li {
    padding: 0 6% 0 0;
  }
  footer p {
    text-align: center;
  }
  footer .circleContact {
    right: 20%;
    width: 60%;
  }
}

@media (max-width: 625px) {
  .about,
  .projects,
  .contact {
    padding: 9vw 0;
  }
  p {
    font-size: calc(1.25rem + 1.25vw);
    line-height: 150%;
  }
  header {
    min-height: 92vh;
  }
  .circle {
    top: 77.5%;
  }
  .mainNav {
    padding: 1rem 0;
  }
  .mainNav h2 {
    padding: 2vw 0;
  }
  .mainNav .hamburger {
    display: unset;
  }
  .mainNav ul {
    position: fixed;
    top: 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: x;
        -ms-flex-pack: x;
            justify-content: x;
    -webkit-box-align: x;
        -ms-flex-align: x;
            align-items: x;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 0.2rem solid #4933BC;
    background-color: #C4D5D9;
    padding: 1rem;
    width: 100%;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .mainNav ul li {
    padding: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .mainNav ul li a {
    font-weight: bolder;
    font-size: 1.75rem;
  }
  .mainNav ul li:last-of-type {
    padding: 1rem;
  }
  h1 {
    font-size: calc(1rem + 8.5vw);
  }
  .arrowAndScrambleContainer .headerArrow {
    bottom: 10%;
  }
  .arrowAndScrambleContainer h3 {
    bottom: 11%;
    right: 5%;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .aboutText {
    width: 100%;
    padding: 1.5% 0 5%;
  }
  .about .aboutText p:first-of-type {
    margin-top: 6%;
  }
  .about .aboutText p {
    padding: 0;
  }
  .about .aboutSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: x;
        -ms-flex-align: x;
            align-items: x;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about .aboutSocial ul {
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about .aboutSocial ul li {
    padding: 0;
  }
  .about .aboutSocial ul li > * {
    padding-left: 2rem;
  }
  .imageAndSkillsContainer {
    width: 100%;
  }
  .imageAndSkillsContainer img {
    width: 100%;
  }
  .imageAndSkillsContainer .skillsContainer {
    width: 100%;
    padding-top: 3%;
  }
  .imageAndSkillsContainer .skillsContainer h5 {
    font-size: calc(1.5rem + 1.5vw);
  }
  .imageAndSkillsContainer .skillsContainer ul li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 25%;
    font-size: calc(1rem + 1.5vw);
  }
  .projectsContainer > li:first-of-type img {
    padding: 7% 0 2%;
  }
  .projectsContainer > li img {
    padding: 10% 0 2.5%;
  }
  .projectsContainer > li p {
    margin: 4% 0 3.5%;
  }
  .projectsContainer > li .projectsLinks {
    margin-top: 4%;
  }
  .projectsContainer > li .projectsLinks a {
    font-size: 2rem;
  }
  .contact {
    padding-bottom: 4vw;
  }
  footer .circleContact {
    right: 7.75%;
    width: 85%;
  }
}

@-webkit-keyframes navUnderline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    border-bottom: 0.2rem solid #4933BC;
  }
}

@keyframes navUnderline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    border-bottom: 0.2rem solid #4933BC;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounceSide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes bounceSide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bounceDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounceDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bounceUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounceUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.projectsContainer li .projectsLinks a::after,
form a::after {
  display: none;
}

.projectsContainer li .projectsLinks a:hover::before, .projectsContainer li .projectsLinks a:focus::before, .projectsContainer li .projectsLinks button:hover::before, .projectsContainer li .projectsLinks button:focus::before,
form a:hover::before,
form a:focus::before,
form button:hover::before,
form button:focus::before {
  -webkit-animation: bounceSide 1s ease infinite;
          animation: bounceSide 1s ease infinite;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.mainNav ul li a,
.mainNav h2,
.aboutSocial ul li a,
.contactContainer .contactSocial ul li a,
.contactContainer .contactSocial h5 a,
form button,
.projectsContainer li .projectsLinks a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.mainNav ul li a:hover, .mainNav ul li a:focus,
.mainNav h2:hover,
.mainNav h2:focus,
.aboutSocial ul li a:hover,
.aboutSocial ul li a:focus,
.contactContainer .contactSocial ul li a:hover,
.contactContainer .contactSocial ul li a:focus,
.contactContainer .contactSocial h5 a:hover,
.contactContainer .contactSocial h5 a:focus,
form button:hover,
form button:focus,
.projectsContainer li .projectsLinks a:hover,
.projectsContainer li .projectsLinks a:focus {
  color: #879EA4;
}

.aboutText a::after,
.projectsContainer > li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4933BC;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.aboutText a,
.projectsContainer > li a {
  position: relative;
}

.aboutText a:hover::after, .aboutText a:focus::after,
.projectsContainer > li a:hover::after,
.projectsContainer > li a:focus::after {
  visibility: visible;
  width: 100%;
}
